*
{
	padding: 0;
	margin: 0;
	border: 0;
}

/* Layout */
body
{
	width: 1280px;
	height: 720px;
	background-image: url('..\\image\\closet.jpg');
	
}
#helpBar{
	position : absolute;
	left : 0px;
	top : 675px;
	width : 1280px;
	height : 45px;
	background-image: url('..\\image\\helpbar.png');
		
	

}
.helpBarDiv {
	float: left;
	
	margin-bottom: 3px;
	margin-left: 2px;

}

.helpBarIcon {
	margin-right: 10px; 
	height: 40px;
	
}


#contents{
	position: absolute;
	left:  0px;
	top: 60px;
	width: 1280px;
	height: 615px;
	
}
#titleBar{
	position : absolute;
	left : 0px;
	top : 0px;
	width : 1280px;
	height : 60px;
	font-size: 36pt;
	color: white;	
	text-align: center;
	background-image: url('..\\image\\titlebar.png');
}
.focus {
	border-color: rgba(255,255,0,0.2);
	border: solid;
}





.container{
	margin: 2% 0 0 2%;
	background-color: rgba(255,255,255,0.1);
	border-radius: 10px;
	float:left;
	text-align: center;
}
input{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 30px;
	font-size: 32px;
}
