#closetView{
	width:23%;
	height:92%;
	
}

#codiView{
	width: 23%;
	height: 92%;
}

#itemView{
	width: 46%;
	height: 92%;
}



.clothView{
	width:40%;
	height: 197px;
	margin: 2% 2% 0 2%;
	border-radius: 30px;
	
}


#topDetail{
	margin: 10% 0 0 0;
	float:left;
	width: 54%;
	

}


#botDetail{
	margin: 10% 0 0 0;
	float:right;
	width: 54%;



}

#topView{
	float: left;
	
}
#botView{
	float:right;
}



#topContainer{
	width: 84%;
	height: 44%;
	margin: 4% 8% 0 8%;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 30px;
	font-size: 25px;

}

#botContainer{
	width: 84%;
	height: 44%;
	margin: 4% 8% 0 8%;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 30px;
	font-size: 25px;
}

#itemView div p{
	text-align: center;
}
.listItem{
	width: 80%;
	margin:10% 0 0 10%;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 30px;
	font-size: 30px;
}
#popup {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 1;
}

.window {
	z-index: 1;
	position: absolute;
	left: 10px;
	top: 20px;
	width: 730px;
	height: 310px;
	background-color: rgba(242, 227, 210, 1);
	border-radius: 20px;
	
	text-align: center;
	font-size: 36px;
	font-style:oblique;
	color: #725129;
	
}
.button {
 border: 1px solid #447314;
   background: #6aa436;
   background: -webkit-gradient(linear, left top, left bottom, from(#8dc059), to(#6aa436));
   background: -webkit-linear-gradient(top, #8dc059, #6aa436);
   background: -moz-linear-gradient(top, #8dc059, #6aa436);
   background: -ms-linear-gradient(top, #8dc059, #6aa436);
   background: -o-linear-gradient(top, #8dc059, #6aa436);
   background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #addc7e 0 1px 0;
   color: #31540c;
   font-family: helvetica, serif;
   padding: 8.5px 18px;
   font-size: 24px;
   text-decoration: none;
   vertical-align: middle;
   margin: 60px;
}
.focus {
 border: 1px solid #447314;
   text-shadow: #31540c 0 1px 0;
   background: #6aa436;
   background: -webkit-gradient(linear, left top, left bottom, from(#8dc059), to(#6aa436));
   background: -webkit-linear-gradient(top, #8dc059, #6aa436);
   background: -moz-linear-gradient(top, #8dc059, #6aa436);
   background: -ms-linear-gradient(top, #8dc059, #6aa436);
   background: -o-linear-gradient(top, #8dc059, #6aa436);
   background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
   color: #fff;
}
.inputfocus{
	border:solid;
	border-color: rgba(255,255,255,0.4);
}