

#weatherImage{
	width: 30%;
	height: 40%;
	text-align: center;
}

#forecast{
	width: 64%;
	height: 40%;
}



#chart{
	width: 96%;
	height: 48%;
	
}

#image{
	width: 200px;
	height: 200px;	
}



#detail{
	margin:6% 0 0 2%;
	text-align: right;
}

#temp{
	margin: 6% 0 0 2%;
	text-align: center;
	width:  47%;
	height: 94%;
	float: left;
	font-size: 140px;
}

#detail div{
	float:left;
	margin-top: 2%;
	height: 22%;
	width: 47%;
	font-size: 21px; 
}


#chart{
	
	text-align: center;
}

p{
	font-size: 24px;
}




#loading {
	z-index: 1;
	position: absolute;
	left: 560px;
	top: 285px;
	width: 150px;
	height: 150px;
	background-color: rgba(255,255,255,0.5);
	border-radius: 20px;
	
	text-align: center;
	font-size: 36px;
	font-style:oblique;
	color: #725129;
	
}

#loading img{
	width: 150px;
	height: 150px;
}
